@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo(a) à VitalisMed Procedimentos!</h1>
    <p>O cuidado completo que você merece: Clínica Médica Geral e Estética.</a></p>
</div>
