@{
    ViewData["Title"] = "Política de Privacidade da Clínica de Procedimentos Médicos VitalisMed:";
}
<h1>@ViewData["Title"]</h1>

<p>
    <p>1. Coleta de Informações: A Clínica de Procedimentos Médicos coleta informações pessoais dos pacientes, como nome, data de nascimento, histórico médico e informações de contato, com o objetivo de realizar os procedimentos e fornecer resultados precisos.</p>

    <p>2. Uso das Informações: As informações coletadas serão utilizadas exclusivamente para fins de realização dos procedimentos médicos solicitados pelos pacientes, bem como para o fornecimento dos resultados e a comunicação relacionada aos mesmos.</p>

    <p>3. Armazenamento Seguro: Todas as informações pessoais dos pacientes serão armazenadas de forma segura e protegida contra acesso não autorizado. Medidas adequadas serão tomadas para garantir a confidencialidade e integridade dos dados.</p>

    <p>4. Compartilhamento de Informações: A Clínica de Procedimentos Médicos não irá compartilhar as informações pessoais dos pacientes com terceiros, exceto quando necessário para a realização dos procedimentos ou quando exigido por lei.</p>

    <p>5. Acesso às Informações: Os pacientes têm o direito de acessar suas próprias informações pessoais e solicitar correções ou atualizações, caso necessário. A clínica irá fornecer os meios adequados para que os pacientes possam exercer esse direito.</p>

    <p>6. Retenção das Informações: As informações pessoais dos pacientes serão retidas apenas pelo tempo necessário para cumprir os propósitos para os quais foram coletadas, a menos que seja exigido por lei o contrário.</p>

    <p>7. Cookies e Tecnologias de Rastreamento: A Clínica de Procedimentos Médicos pode utilizar cookies ou outras tecnologias de rastreamento em seu site com o objetivo de melhorar a experiência do usuário e fornecer informações relevantes. Os pacientes têm a opção de desativar os cookies em seus navegadores, se assim desejarem.</p>

    <p>8. Atualizações da Política de Privacidade: A Clínica de Procedimentos Médicos se reserva o direito de atualizar esta política de privacidade conforme necessário. Quaisquer alterações serão comunicadas aos pacientes e publicadas no site da clínica.</p>

    <p>9. Contato: Em caso de dúvidas ou preocupações relacionadas à privacidade, os pacientes podem entrar em contato com a Clínica de Procedimentos Médicos através dos canais de comunicação disponibilizados.</p>

    <p>
    Esta política de privacidade tem como objetivo garantir a transparência e proteção das informações pessoais dos pacientes da clínica de exames médicos.</p>
    </p>
